.paperlike{
    width: 80%;
    height: fit-content;
    background-color: #ffffff;
    margin-top: 5rem;
    border-radius: 15px;
    box-shadow: 2px 2px 60px rgb(217, 217, 217);
}

.title2{
    font-size: 3.1rem;
    padding-top: 5rem;
}

p{
    width: 90%;
    text-align: left;
}

h2{
    padding-top: 1.3rem;
}