body{
    font-family: 'Aeonik' !important;
}

.logo{
    width: 8.5rem;

}

#nav{
  background-color: #f8f9fa;
  background: rgba(255, 255, 255, 0.056);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
}

li{
  font-size: 1.250rem;
  line-height: 44px;
  font-weight: 500;
}


.nav-1{
    display: inline-flex;
    text-align: center !important;
    font-size: 14pt;
    font-weight: 500;
}

a{
    color: #000000 !important;
    text-decoration: none !important;
}

a:hover{
  transition: all ease-in-out 0.3s;
  color: #1b19e3 !important;
}

.navbar-78{
    padding-top: 20px;
    color: #fff !important;
}

footer{
    background-color: #f8f9fa;
}

* {

    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  :root {
    --background: #e9eef2;
    --color: #212325;
    --color-2: #444;
    --color-3: #666;
    --transition: all 0.25s ease 0s;
  }
  
  html {
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 465px) {
    html {
      font-size: 14px;
    }
  }
  
  body {
    background: var(--background);
  }
  
  .container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
  }
  
  .copyright {
    padding: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-3);
    text-align: center;
    border-top: 1px solid var(--color-3);
  }

  .col-title{
    padding-left: 30px;
  }
  
  .footer-nav {
    padding: 1rem 0;
  }
  
  .footer-nav .col {
    max-width: 300px;
  }
  
  p.site-decription {
    color: var(--color-3);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .social-medias a {
    color: var(--color-2);
    width: 2.5rem;
    height: 2.5em;
    border: 2px solid var(--color-2);
    border-radius: 50%;
  }


  
  .social-medias svg, .social-medias img {
    vertical-align: middle;
    width: 1.3rem;
    height: 1.3rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flex-start {
    align-items: flex-start;
  }
  
  .flex-jc-start {
    justify-content: flex-start;
  }
  
  .flex-around {
    justify-content: space-around;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-g-1 {
    gap: 1rem;
  }
  
  .col {
    flex: 1;
  }
  
  .col-list ul li {
    list-style: none;
  }
  
  .col-list ul li a {
    text-decoration: none;
    color: var(--color-3);
    transition: var(--transition);
  }
  
  .col-list ul li a:hover,
  .col-list ul li a:focus {
    color: var(--color);
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1100px) {
    .footer-nav {
      flex-direction: column;
    }
  }
  

  header, body, html{
    width: 100%;
    height: 100%;
  }
  
  header{
    background: url("")no-repeat center center;
    background-size: cover;
  }
  
  .wrapper{
    width: 100%;
    height: 100%;
  }

  footer li{
    margin-top: -10px;
    font-weight: 400;
  }